@using Microsoft.AspNetCore.Identity

@using SchoolNetwork.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/default.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Assignment" asp-action="">Assignments</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li><p>Hello @UserManager.GetUserName(User)!</p></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Results">History</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                }
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <img class="banner-image" src="~/images/banner.jpg" />
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </main>
    <footer>
        <p>Copyright 2020</p>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
