@using Microsoft.AspNetCore.Identity

@using SchoolNetwork.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Secret">Secret</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>Hello @UserManager.GetUserName(User)!</li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                }
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
