
@{
    ViewData["Title"] = "Email Confirmation Succes!";
}

<h1>Email Confirmation Succes!</h1>

<p>You have succesfully confirmed your Email Address!</p>
<p>Please go to <a asp-area="" asp-controller="Account" asp-action="Login">Login</a></p>