@model SchoolNetwork.Models.ApplicationUserViewModel
@using SchoolNetwork.Models

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form asp-area="" asp-controller="Account" asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="FirstMidName" class="control-label"></label>
        <input asp-for="FirstMidName" class="form-control" />
        <span asp-validation-for="FirstMidName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Role" class="control-label"></label>
        <select asp-for="Role"  asp-items="Html.GetEnumSelectList<Role>()" class="form-control">
            <option>Select ...</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit">Register</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
